@import "variables";

.v-application {
  font-family: 'Roboto', sans-serif !important;
  background: $light-main-background !important;
}

.container {
  margin: 0 20px;
}

[data-color="green"] {
  background-color: $green-light-background !important;
  border-color: $green-light-background !important;

  i{
    color: $green-neon-border !important;
  }
}

[data-color="purple"] {
  background-color: $purple-light-background !important;
  border-color: $purple-light-background !important;

  i{
    color: $purple-neon-border !important;
  }
}

[data-color="red"] {
  background-color: $red-light-background !important;
  border-color: $red-light-background !important;

  i{
    color: $red-neon-border !important;
  }
}

.v-tabs .v-tabs-bar {
  background: $light-main-background !important;

  .v-tab:not(.v-tab--active) {
    color: $main-foreground !important;
  }
}

.v-tabs-items {
  background: $light-main-background !important;
}

.v-card {
  padding: 50px;
  background-color: $light-background !important;
  border-color: $light-background !important;

  div, p {
    color: $main-foreground !important;
  }
}

.custom-icon-container {
  background-color: $main-foreground;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  margin: 30px auto 10px;

  i {
    font-size: 32px !important;
  }
}

.v-breadcrumbs .v-breadcrumbs__divider, .v-breadcrumbs__item--disabled {
  color: $main-foreground !important;
}

#cards-section .v-input {
  background: $light-background !important;

  input {
    color: $main-foreground !important;
  }
}

#cards-section {
  .v-input--is-focused {
    color: $main-foreground !important;
    caret-color: $main-foreground !important;

    .v-input__control > .v-input__slot {
      background: lighten($light-background, 3.83) !important;
    }
  }

  .v-input .v-icon, .v-label {
    color: $main-foreground !important;
  }

  .theme--light.v-text-field--solo-inverted > .v-input__control > .v-input__slot {
    background: transparent !important;
  }
}

.v-data-iterator > div {
  color: $main-foreground !important;
  text-align: center;
  margin: 70px 0;

  .v-application .display-1 {
    font-size: 1rem;
  }
}
