$dark-main-background: #3e485b;
$dark-background: #1f222c;

$white-foreground: rgba(255, 255, 255, 0.87);

$green-light-background: #defaed;
$green-neon-border: #84e27a;

$purple-light-background: #dbc9fc;
$purple-neon-border: #a16df4;

$red-light-background: #f9e8ea;
$red-neon-border: #e5627b;
