$light-main-background: #f1f3f4;
$light-background: #fff;

$main-foreground: #212121;

$green-light-background: #defaed;
$green-neon-border: #84e27a;

$purple-light-background: #dbc9fc;
$purple-neon-border: #a16df4;

$red-light-background: #f9e8ea;
$red-neon-border: #e5627b;
